&i2c1 {
    status = "okay";
    sda-pin = <26>;  // ProMicro D1 → P0.26
    scl-pin = <27>;  // ProMicro D0 → P0.27
};

&ssd1306@3c {
    status = "okay";
    width = <128>;
    height = <32>;   // Dein Amazon-Display
};
